{% extends 'base.html.twig' %}

{% block title %}Listagem de times - {% endblock %}

{% block body %}
    <h1 class="display-3">Listagem de times</h1>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Cod.</th>
            <th>Nome</th>
            <th>Brasão</th>
            <th>Ação</th>
        </tr>
        </thead>
        <tbody>
        {% for time in times %}
            <tr>
                <td>{{ time.id }}</td>
                <td>{{ time.nome }}</td>
                <td><img width="100" src="/uploads/times/escudos/{{ time.escudo }}" alt=""></td>
                <td><a href="{{ path('listar_partidas', {"id": time.id}) }}" class="btn btn-primary">Ver Partidas</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Nenhum resultado!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
