{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>Gerenciador de Campeonatos</h1>
        <p class="lead">Nesse sistema, iremos aprofundar nossos conhecimentos em Symfony4, mais especificamente no Doctrine, utilizando alguns recursos mais avançandos.</p>
        <a class="btn btn-lg btn-primary" href="" role="button">Gerenciar resultados &raquo;</a>
    </div>
{% endblock %}
